div#window {
	padding-top: 50px;
	height: 100%;
}
div#content {
	height: 100%;
}
div#content.fullwidth {
	width: 100%;
}
div#content.gauge {
	width: 100%;
	min-height: 325px;
	max-height: 625px;
}
h1#number {
	font-size: 200px;
	text-align: center;
}