<html>
    <head>
        <title>{{title}} - {{carname}} - {{orgname}}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <script src="http://code.highcharts.com/modules/solid-gauge.src.js"></script>
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block script %}{% endblock %}
    </body>
</html>
