{% extends "base.html" %}
{% block content %}
<div class="dashboard">
	{% for item in items %}
    <div class="row">
        <h1>{{ attributes[item]["title"] }}</h1>
        <div class="col-md-2"><h1 id="current-{{ item.lower() }}" class="current"></h1></div>
        <div id="graph-{{ item.lower() }}" class="graph col-md-10"></div>
    </div>
	{% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
/**
 * Request data from the server, add it to the graph and set a timeout 
 * to request again
 * http://www.highcharts.com/docs/working-with-data/preprocessing-live-data
 */
items = [];
{% for item in items %}
items.push("{{ item.lower() }}");
{% endfor %}
function requestData() {
    $.ajax({
        url: '/dash/data/',
        success: function(values) {
            for (item in items) {
                jQuery("#current-" + items[item]).text(values["current-" + items[item]]);
		var chart = $('#graph-' + items[item]).highcharts();
		chart.series[0].setData(values["graph-" + items[item]]);
	    }
        },
        cache: false
    });
    // call it again
    setTimeout(requestData, {{ update }});
};
$(document).ready(function() {
    blankchart = {
        chart: {
            defaultSeriesType: 'spline'
        },
	title: {
	    text: ''
	},
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
	    title: {
	        text: ''
	    }
        },
        series: [{
	    showInLegend: false,
            data: []
        }]
    };
	for (item in items) {
		$('#graph-' + items[item]).highcharts(blankchart);
	}
    requestData();
});
</script>
{% endblock %}
