{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block script %}
<script>
/**
 * Request data from the server, add it to the graph and set a timeout 
 * to request again
 * http://www.highcharts.com/docs/working-with-data/preprocessing-live-data
 */
function requestData() {
    $.ajax({
        url: '{{ url_for("gauge_data", data=var) }}',
        success: function(series) {
            chart.series[0].setData(series);
            
            // call it again 
            setTimeout(requestData, {{ config["UPDATE"] }});    
        },
        cache: false
    });
}

$(document).ready(function() {
	var gaugeOptions = {
        chart: {
			renderTo: 'content',
            type: 'solidgauge',
            events: {
                load: requestData
            }
        },
        pane: {
            center: ['50%', '90%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },
        tooltip: {
            enabled: false
        },
        // the value axis
        yAxis: {
            min: {{ variables[var].min }},
            max: {{ variables[var].max }},
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 1000,
            tickWidth: 0,
            labels: {
                enabled: true,
                style: { "fontSize": "30px" },
                y: 30,
                distance: -50

            }        
        },
        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 0,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        },
        title: {
            floating: true,
            text: "{{ variables[var].display }}",
            style: { "fontSize": "50px" },
            y: 50
        },
        credits: {
            enabled: false
        },
    
        series: [{
            name: '{{ variables[var].display }}',
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:50px;color:' + 
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' + 
                    '<span style="font-size:24px;color:silver">{{ suffix }}</span></div>'
            },
            tooltip: {
                valueSuffix: ' {{ variables[var].units }}'
            }
        }]
    };
    chart = new Highcharts.Chart(gaugeOptions);        
});


</script>
{% endblock %}
