{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block script %}

<script>
var map
var poly
var marker
function requestData() {
    $.ajax({
        url: '{{ url_for("map_data", data=var) }}',
        success: function(value) {
			value = new google.maps.LatLng(value[0], value[1])
			marker.setPosition(value);
            var path = poly.getPath();
			path.push(value)
            // call it again 
            setTimeout(requestData, {{ config["UPDATE"] * 20 }});    
        },
        cache: false
    }).retry({times:12, timeout:5000});
}
$(document).ready(function() {
	$.ajax({
        url: '{{ url_for("map_data", data=var) }}',
        success: function(value) {
			value = new google.maps.LatLng(value[0], value[1])
			var mapOptions = {
				center: value,
				zoom: 13,
				mapTypeId: google.maps.MapTypeId.TERRAIN
			};
			map = new google.maps.Map(document.getElementById("content"), mapOptions);
			marker = new google.maps.Marker({
				position: value,
				map: map,
				icon: 'static/car.png'
			});
			var polyOptions = {
				strokeColor: '#F47320',
				strokeOpacity: 0.9,
				strokeWeight: 5
			};
			poly = new google.maps.Polyline(polyOptions);
			poly.setMap(map);
			var path = poly.getPath();
			path.push(value)
			requestData();
        },
        cache: false
    })

});
</script>
{% endblock %}
