{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block script %}
<script>
/**
 * Request data from the server, add it to the graph and set a timeout 
 * to request again
 * http://www.highcharts.com/docs/working-with-data/preprocessing-live-data
 */
function requestData() {
    $.ajax({
        url: '{{ url_for("short_data", data=var) }}',
        success: function(ajaxdata) {
			chart.series[0].setData(ajaxdata);
            // call it again 
            setTimeout(requestData, {{ config["UPDATE"] * 10 }});    
        },
        cache: false
    }).retry({times:12, timeout:5000});
}

$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'content',
            defaultSeriesType: 'spline',
            events: {
                load: requestData
            }
        },
        title: {
            text: '{{ title }}'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: [{
				labels: {
					format: '{value} {{ variables[var].units }}',
				},
				title: {
					text: '{{ variables[var].display }}',
				},
				max: {{ variables[var].max }},
                min: {{ variables[var].min }}
            }],
			series: [{
				name: '{{ variables[var].display }}',
                data : [],
                dataGrouping: {
                    enabled: false
                },
				marker: {
					enabled: false
				},
				tooltip: {
					valueSuffix: '{{ variables[var].units }}'
				}
            }]
    });        
});
</script>
{% endblock %}
