{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block script %}
<script>
/**
 * Request data from the server, add it to the graph and set a timeout 
 * to request again
 * http://www.highcharts.com/docs/working-with-data/preprocessing-live-data
 */
function requestData() {
    $.ajax({
        url: '{{ url_for("short_data", data=var) }}',
        success: function(series) {
            chart.series[0].setData(series);
            
            // call it again 
            setTimeout(requestData, {{ config["UPDATE"] * 10 }});    
        },
        cache: false
    });
}

$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'content',
            defaultSeriesType: 'spline',
            events: {
                load: requestData
            }
        },
        title: {
            text: '{{ variables[var].display }}'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: '{{ variables[var].units }}',
                margin: 80
            }
        },
        series: [{
            name: '{{ var }}',
            data: []
        }]
    });        
});


</script>
{% endblock %}
